.background{
  background-image: url("../images/background.jpg");
	width: 100%;
	height: 750px;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.cloud1 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50px;
  right: -200px;
  z-index: 1;
  animation: cloud1 70s linear infinite;
}

@keyframes cloud1 {
  from { right: -200px; }
  to { right: 100%; }
}


.cloud2 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 100px;
  right: -200px;
  z-index: 1;
  animation: cloud2 80s linear infinite;
}

@keyframes cloud2 {
  from { right: -200px; }
  to { right: 100%; }
}

.cloud3 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 150px;
  right: -200px;
  z-index: 1;
  animation: cloud3 90s linear infinite;
}

@keyframes cloud3 {
  from { right: -200px; }
  to { right: 100%; }
}


.cloud4 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 200px;
  right: -200px;
  z-index: 1;
  animation: cloud4 100s linear infinite;
}

@keyframes cloud4 {
  from { right: -200px; }
  to { right: 100%; }
}


.cloud5 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 200px;
  right: -200px;
  z-index: 1;
  animation: cloud5 90s linear infinite;
}

@keyframes cloud5 {
  from { right: -200px; }
  to { right: 100px; }
}
.house{
  position: absolute;
  height: 600px;
  width: auto;
  top: 100px;
  right: 600px;
}
.witch1{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 300px;
  z-index: 2;
  animation: witch1 15s infinite;
}
@keyframes witch1{
  from {left: -50px}
  to {left: 100%}
}
.witch2{
  position: absolute;
  width: 130px;
  height: auto;
  top: 350px;
  z-index: 2;
  animation: witch2 10s infinite;
}
@keyframes witch2{
  from {right: -60px;}
  to {right: 100%}
}

.bats{
  position: absolute;
  height: 90px;
  width: auto;
  top: 290px;
  right: 1000px;
  z-index: 1;
  transition: transform 3s ease;

}
.bats:hover {
  transform: scale(3) rotate(30deg);
}
.vampire{
  position: absolute;
  height: 100px;
  width: auto;
  top: 530px;
  right: 900px;
  z-index: 3;
}

.ghost1 {
  position: absolute;
  height: 90px;
  width: auto;
  top: 500px;
  right: 550px;
  z-index: 4;
  transition: transform 3s ease;
}
.ghost1:hover{
  transform: translateY(-20px) rotate(180deg);
}

.grave {
  position: absolute;
  height: 100px;
  width: auto;
  top: 545px;
  right: 530px;
  z-index: 3;
}
.tree1{
  position: absolute;
  height: 300px;
  width: auto;
  top: 355px;
  right: 370px;
  z-index: 2;
}





